body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

/* Header */
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
}

/* Sections */
section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* Skills */
.skills span {
    display: inline-block;
    background: #333;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;
}

/* Projects */
.project {
    margin-top: 10px;
    padding: 10px;
    border-left: 4px solid #333;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
